################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/SchnellmeldungSeptember/obj/Debug
/SchnellmeldungSeptember/bin/Debug/20210823.txt
*.txt
